{
    "REMOTE_SMTP_USER":"user@remotehost.com",
    "REMOTE_SMTP_PASS":"password",
    "REMOTE_SMTP_HOST":"smtp.remotehost.com",
    "REMOTE_SMTP_PORT":"25",
    "PGP_KEYSERVER":"pgp.mit.edu",
    "PGP_KEYSERVER_QUERY":"/pks/lookup?op=index&exact=on&search=",
    "PGP_KEY_FOLDER":"key_cache",
    "GM_ALLOWED_HOSTS":"localhost",
    "GM_PRIMARY_MAIL_HOST":"mail.example.com",
    "GSMTP_HOST_NAME":"mail.example.com",
    "GSMTP_LOG_FILE":"",
    "GSMTP_MAX_SIZE":"15728640",
    "GSMTP_PRV_KEY":"server.key",
    "GSMTP_PUB_KEY":"server.crt",
    "GSMTP_TIMEOUT":"100",
    "GSMTP_VERBOSE":"N",
    "GSTMP_LISTEN_INTERFACE":"127.0.0.1:25",
    "MAX_SMTP_CLIENTS":"10000",
    "GM_MAX_CLIENTS":"500",
    "NGINX_AUTH_ENABLED":"N",
    "NGINX_AUTH":"127.0.0.1:8025",
    "SGID":"508",
    "GUID":"504"
}
